NODE_PORT=8080
NODE_ENV=DEVELOPMENT
NODE_URL_API=http://localhost:8080
NODE_URL_WEB=http://localhost:3000
NODE_MONGO_ATLAS_URI=MongoUri
NODE_TOKEN_SECRET=secret
NODE_TOKEN_REFRESH_SECRET=secret
NODE_COOKIE_SECRET=secret
NODE_HOST_NODEMAILER=smtp.gmail.com
NODE_PORT_NODEMAILER=465
NODE_PASSWORD_NODEMAILER=
NODE_USERNAME_NODEMAILER=
NODE_TOKEN_EXPIRES_IN=600
NODE_COOKIE_EXPIRES_IN=600
NODE_HTTPS_PASSPHRASE=